* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  display: grid;
  grid-template-columns: 10% 20% 60% 10%;
}
.navbar {
  grid-column: span 4;
  display: flex;
  column-gap: 150px;
  background-color: #2b4562;
  padding-bottom: 10px;
}
.leftbar {
  grid-row: span 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 20px;
  background-color: #2b4562;
}
.maincontent {
  grid-column: span 3;
  background-color: #bac8f0;
}
input[type="submit"] {
  background-color: #2b4562;
  border: green solid;
  color: green;
  width: 50px;
  margin-top: 5px;
  margin-left: 40px;
}
input[type="submit"]:hover {
  background-color: #bac8f0;
  color: black;
}
a:hover {
  background-color: aliceblue;
  color: black;
}

a {
  color: white;
  text-decoration: none;

  text-transform: capitalize;
  margin-top: 20px;
  margin-left: 20px;
}
h2 {
  text-transform: capitalize;
  margin-left: 90px;
  margin-top: 70px;
}
.parag {
  margin-left: 90px;
  text-transform: capitalize;
  margin-top: 5px;
  font-size: 20px;
}
.services {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
}
.main {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr); */
  display: flex;
  margin-top: 100px;
  margin-left: 100px;
  /* justify-content: center; */
  column-gap: 30px;
}
.design {
  width: 200px;
  border: solid 2px rgb(243, 241, 241);
  height: 100px;
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.layout {
  width: 200px;
  border: solid 2px rgb(243, 241, 241);
  height: 100;
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.code {
  width: 200px;
  border: solid 2px rgb(243, 241, 241);
  height: 100;
  background-color: #ffffff;
  text-align: center;
  padding-top: 20px;
}
.left{
    flex-basis: 30%;
}
.right{
    flex-basis: 30%;

}
.photo:hover{
    background-position: center;
}
.photos:hover{
    background-position: center;
}
.photo {
  background-image: url(photo1.jpg);
  background-size: cover;
  background-position: top;
  width: 300px;
  height: 200px;
  transition: all 1s ease-in-out;
  

}
.photos {
    width: 200px;
    height: 150px;
  background-image: url(photo2.jpg);
  background-size: cover;
  background-position: top;
  transition: all 1s ease-in-out;
  margin-top: 10px;
  margin-bottom: 100px;
}
h4 {
  text-transform: capitalize;
  margin-top: 20px;
}
.para1 {
  margin-top: 20px;

}
.para2 {
  margin-top: 10px;
}
.footer {
  background-color: #2b4562;
  grid-column: span 3;
  padding: 10px;
  color: white;
}

@media screen and (max-width: 1024px) {
  
  .container {

    grid-template-columns: 1fr;
  }

  .navbar {
    grid-column: span 1;
    flex-direction: column; 
    align-items: center;
    row-gap: 10px;
    padding: 20px 0;
  }

  .leftbar {
    grid-row: span 1; 
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .maincontent {
    grid-column: span 1;
    padding: 20px;
  }

  .services {
    flex-direction: column; 
    align-items: center;
    row-gap: 20px;
  }

  .main {
    flex-direction: column; 
     
    margin-top: 50px;
    align-items: center;
  }

  .left, .right {
    flex-basis: 100%;
    text-align: center;
  }

  .photo, .photos {
    flex-basis: 100%;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .footer {
    grid-column: span 1;
    text-align: center;
  }

  h2 {
    
    text-align: center;
  }

  .parag {
    
    text-align: center;
  }
}